{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    // "google",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "Link": true,
    "NavLink": true,
    "Navigate": true,
    "Outlet": true,
    "Route": true,
    "Routes": true,
    "createRef": true,
    "forwardRef": true,
    "lazy": true,
    "memo": true,
    "startTransition": true,
    "useCallback": true,
    "useContext": true,
    "useDebugValue": true,
    "useDeferredValue": true,
    "useEffect": true,
    "useHref": true,
    "useId": true,
    "useImperativeHandle": true,
    "useInRouterContext": true,
    "useInsertionEffect": true,
    "useLayoutEffect": true,
    "useLinkClickHandler": true,
    "useLocation": true,
    "useMemo": true,
    "useNavigate": true,
    "useNavigationType": true,
    "useOutlet": true,
    "useOutletContext": true,
    "useParams": true,
    "useReducer": true,
    "useRef": true,
    "useResolvedPath": true,
    "useRoutes": true,
    "useSearchParams": true,
    "useState": true,
    "useSyncExternalStore": true,
    "useTransition": true
  }
}
